{% extends 'base_landing.html.twig' %}

{% block body %}

    <section class="mr-4 ml-4">
        <div class="row pt-4 pb-2">
            <i class="fas fa-users icon-users"></i>
            <h1>Przepisy naszych użytkowników:</h1>
            <hr>
            <div class="orange-line w-100"></div>
        </div>
    </section>

    <section class="width-medium text-color-darker">
        <div class="pb-2">
            <div class="border-dashed view-height w-100">
                <div class="mt-4 ml-4 mr-4">
                    <div class="row border-bottom border-3">
                        <div class="col"><h3 class="color-header text-uppercase">Szczegóły przepisu</h3></div>
                        <div class="col">
                            <form action="" method="POST">
                                <input type="hidden" value="{{ recipe.id }}" name="recipeId">
                                <button type="submit" name="plus" value="true">
                                    <img src="{{ asset('assets/images/like.png') }}" width="30">
                                </button>
                                <button type="submit" name="minus" value="true">
                                    <img src="{{ asset('assets/images/notlike.png') }}" width="30">
                                </button>: {% if recipe.votes %}{{ recipe.votes }}{% endif %}
                            </form>
                        </div>

                        <div class="col d-flex justify-content-end mb-2">
                            <a href="{{ path('recipe_list') }}" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                        </div>
                    </div>

                    <table class="table borderless">
                        <tbody>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Nazwa Przepisu</th>
                            <td class="col-7">
                                {{ recipe.name }}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Opis przepisu</th>
                            <td class="col-7">{{ recipe.description }}</td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">Przygotowani(minuty)</th>
                            <td class="col-7">
                                {{ recipe.preparationTime }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="row d-flex">
                        <div class="col-5 border-bottom border-3"><h3 class="text-uppercase">Sposób przygotowania</h3>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5 border-bottom border-3"><h3 class="text-uppercase">Składniki</h3></div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-5 p-4">
                            <p>{{ recipe.recipePreparationMethod }}</p>
                        </div>
                        <div class="col-2"></div>
                        <ul class="col-5 p-4 list-unstyled">
                            {% for recipesIngredients in recipe.recipesIngredients %}
                                <li>{{ recipesIngredients.ingredient.ingredient }}: {{ recipesIngredients.quantity }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}
