{% extends 'base_dashboard.html.twig' %}

{% block content %}
    <div class="dashboard-header m-4">
        <div class="dashboard-menu">
            <div class="menu-item border-dashed">
                <a href="/recipe/add/">
                    <i class="far fa-plus-square icon-plus-square"></i>
                    <span class="title">dodaj przepis</span>
                </a>
            </div>
            <div class="menu-item border-dashed">
                <a href="/plan/add/">
                    <i class="far fa-plus-square icon-plus-square"></i>
                    <span class="title">dodaj plan</span>
                </a>
            </div>
            <div class="menu-item border-dashed">
                <a href="">
                    <i class="far fa-plus-square icon-plus-square"></i>
                    <span class="title">dodaj przepis do planu</span>
                </a>
            </div>
        </div>

        <div class="dashboard-alerts">
            <div class="alert-item alert-info">
                <i class="fas icon-circle fa-info-circle"></i>
                <span class="font-weight-bold">Liczba przepisów: {{ noRecipes }}</span>
            </div>
            <div class="alert-item alert-light">
                <i class="far icon-calendar fa-calendar-alt"></i>
                <span class="font-weight-bold">Liczba planów: {{ noPlans }}</span>
            </div>
        </div>
    </div>
    <div class="m-4 p-4 border-dashed">
        <h2 class="dashboard-content-title">
            <span>Ostatnio dodany plan:</span> {{ lastPlanName }}
        </h2>


        {% for a in range(0,res|length-1) %}

            <table class="table">
                <thead>
                {% set id_day=res[a][1] %}
                {% set licznik = res[a][2] %}
                {% set break = false %}
                {% for x in range (0,rp|length-1) if not break %}
                {% if (id_day == rp[x].DayName.Id()) %}
                <tr class="d-flex">
                    <th class="col-2"> {{ rp[x].DayName.DayName() }} </th>
                    {% set break = true %}

                    <th class="col-8"></th>
                    <th class="col-2"></th>
                </tr>
                </thead>
                {% endif %}
                {% endfor %}
                <tbody>
                {% for b in range (0,rp|length-1) %}

                    {% if (id_day == rp[b].DayName.Id) %}

                        <tr class="d-flex">
                            <td class="col-2">{{ rp[b].MealName }}</td>
                            <td class="col-8">{{ rp[b].Recipe.Name }}</td>
                            <td class="col-2">
                                <a href="/recipe/{{ rp[b].Recipe.Id }}" role="button" class="btn btn-primary rounded-0">Szczegóły</a>
                            </td>
                        </tr>
                    {% endif %}

                {% endfor %}


                </tbody>
            </table>

        {% endfor %}
    </div>
{% endblock content %}